<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <script>
        console.log(window.location.href)
  </script>
    The number is <%=myNumber%> inches
    <br>
    The number in cm is <%=cm%>
    <br>

    The number in mm is <%=mm%>    <br>

    The number in feet is <%=feet%>
</body>
</html>