<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Test Express</title>
</head>
<body>
    <p>
        This is an Express.js tool that allows you to take an eye test from only 3 feet away. Instead of having to go to the doctor's office, you can simply take an eye test from your screen.
    </p>

    <p>
        To begin, sit three feet away from your computer and click "Start Game." You will be prompted to enter the letters you see, and using an SQL database, the program will calculate your visual acuity, from 20/20 to 20/200. The code uses traditional eye chart calculations to determine visual acuity!
    </p>

    <p>
        This website saves you from visiting your eye doctor so much!
    </p>
</body>
</html>
