<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eye Test Express</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #f8f8f8;
        }

        p {
            font-size: 18px;
            color: #333;
            margin-bottom: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        a {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <h1>Eye Test Express</h1>
    <p>
        This is an Express.js tool that allows you to take an eye test from only 3 feet away. Instead of having to go to the doctor's office, you can simply take an eye test from your screen.
    </p>

    <p>
        To begin, sit three feet away from your computer and click "Start Game." You will be prompted to enter the letters you see, and using an SQL database, the program will calculate your visual acuity, from 20/20 to 20/200. Your data is stored, even after you leave the website, using your cookies. The code uses traditional eye chart calculations to determine visual acuity!
    </p>
    <p>
        Your score will be in the form of #/#. For example, if you have 20/30 vision, you can see from 20 feet away what a perfect-eyed person can see from 30 feet away.
    </p>
    <p>
        This website saves you from visiting your eye doctor so much!
    </p>

    <a href="/">Home</a>
</body>
</html>
