<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>heros</h1>
    <form action="inputted" method="GET">
        Equip which hero?
        <select name="firstInp" id="question1" required>
            <option value="" disabled selected>Select an object</option>
            <option value="Henrik">Henrik</option>
            <option value="Lucinda">Lucinda</option>
            <option value="Archibald">Archibald</option>
            <option value="Isadore">Isadore</option>
            <option value="Dominic">Dominic</option>

        </select>
        <br>
        With what weapon?
        <select name="secondInp" id="question2" required>
            <option value="" disabled selected>Select an object</option>
            <option value="Sword">Sword</option>
            <option value="Bow">Bow</option>
            <option value="Spear">Spear</option>
            <option value="Shield">Shield</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
