<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pick a task</h1>
    <a style = "font-style: Verdana"href="equipPage">Equip</a>
    <a style = "font-style: Verdana"href="assignQuestsPage">Assign quests</a>
    <a style = "font-style: Verdana"href="viewTablePage">View character list </a>


</body>
</html>